@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    text-align: center;
}

form {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%); */
    display: grid;
    grid-template-columns: 100px 200px;
}