@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    text-align: center;
    transition-duration: .2s;
}

form {
    position: relative;
    left: 50%;
    transform: translate(-150px);
    display: grid;
    grid-template-columns: 100px 200px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.redInput {
    background-color: red;
    color: white;
}

.greenInput {
    background-color: green;
    color: white;
}