@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    --menuWidth: 250px;
    font-family: Montserrat;
    overflow-x: hidden;
}

img {
    width: 100%;
}

#menu {
    position: absolute;
    width: var(--menuWidth);
    top: 30px;
    right: calc(0px - var(--menuWidth));
    background-color: rgba(0,0,0,0.8);
    border-top-left-radius: 20px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    z-index: 1;
}

#menu a {
    color: white;
    text-decoration: none;
    transition-duration: .2s;
}

#menu h1 {
    color: white;
    font-size: 20px;
}

#menu a:hover {
    padding-left: 10px;
    color: rgb(120, 120, 255);
}

#menu ul {
    list-style: none;
}

#menuButton {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    height: 10px;
}

#menuButton img {
    width: 20px;
    position: absolute;
    right: 0px;
    transform: translate(-50%);
    z-index: 1;
}

#menuButton img:hover {
    cursor: pointer;
}

#homeButton {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    height: 10px;
}

#homeButton img {
    width: 20px;
    position: absolute;
    left: 0px;
    transform: translate(50%);
    z-index: 1;
}

#homeButton img:hover {
    cursor: pointer;
}

form {
    display: grid;
    grid-template-columns: 150px 300px;
}

@media only screen and (max-width: 465px){
    form {
        display: grid;
        grid-template-columns: auto auto;
    }
    form input {
        width: 100%;
    }
}

@media only screen and (min-width: 535px){
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
}

form input {
    font-family: Montserrat;
    border: 1px solid black;
    border-radius: 5px;;
    background-color: white;
    margin: 2px;
}

form input[type=submit] {
    width: 100px;
    transform: translate(25%);
    background-color: white;
    transition-duration: .2s;
    border-radius: 10px;
}

form input[type=submit]:hover {
    background-color: lightgray;
    cursor: pointer;
}

#gallery {
    display: flex;
    gap: 10px;
    position: absolute;
    animation: slide 20s infinite linear;
}

#gallery img {
    height: 200px;
    width: fit-content;
    opacity: 0.5;
    transition-duration: 0.5s;
}

#gallery img:hover {
    cursor: pointer;
    opacity: 1;
}

#gallery img:hover + p {
    cursor: pointer;
    opacity: 1;
}

@keyframes slide {
    from {left: 0px}
    to {left: -2270px}
}

div#title {
    position: relative;
    left: -10px;
    top: -20px;
    width: 100%;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.image p {
    font-size: 12px;
    opacity: 0;
    transition-duration: .5s;
}

button {
    width: 100px;
    transform: translate(25%);
    background-color: white;
    transition-duration: .2s;
    border-radius: 10px;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#score {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: auto auto;
}

#score #correct {
    color: green;
}

#score #incorrect {
    color: red;
}