@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    --menuWidth: 250px;
    font-family: Montserrat;
    overflow: hidden;
}

h1 {
    text-align: center;
}

#menu {
    position: absolute;
    width: var(--menuWidth);
    top: 30px;
    right: calc(0px - var(--menuWidth));
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    border-top-left-radius: 20px;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu ul {
    list-style: none;
}

#menuButton {
    width: 100%;
    height: 10px;
}

#menuButton img {
    width: 20px;
    position: absolute;
    right: 0px;
    transform: translate(-50%);
}

@keyframes pop-in {
    from {right: calc(0px - var(--menuWidth));}
    to {right: 0px;}
}

@keyframes pop-out {
    from {right: 0px;}
    to {right: calc(0px - var(--menuWidth));}
}